In [1]:
import pandas as pd;
import numpy as np;
import sklearn;

In [2]:
df = pd.read_csv("precos_casa_california.csv")

In [5]:
df.describe()

           latitude  median_income
count  20445.000000   20444.000000
mean      35.643596       3.876869
std        2.129236       1.904054
min       32.540000       0.499900
25%       33.940000       2.565750
50%       34.260000       3.540300
75%       37.720000       4.756600
max       41.950000      15.000100